button{
    background-color: red;
    padding: 5px;
    margin: 5px;
}
.ipTxt{
    background-color: yellow;
    border-color: black;
    border: 2px;
    margin-left: 40%;
}

.App {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
.App tr:hover {background-color: #ddd;}
  table {
    border: 2px solid black;
    width: 100%;
    height: auto;
    margin: 2px;
    padding: 2px;
  }
    
  th {
    /* border-bottom: 1px solid black; */
    border: 1px solid #ddd;
    padding: 8px;
    /* padding-top: 12px;
    padding-bottom: 12px; */
    text-align: center;
    background-color: #29adce;
    color: white;
  }
    
  td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }  

  .myModal{
    /* background-color: aqua; */
    padding: 5px;
    /* margin-bottom: 30%; */
    margin-left: 40%;
    width: fit-content;
    height: fit-content;
}
.openBtn{
    background-color: maroon;
    color: white;
    border-radius: 1px;
    border-color: black;
    border-width: 1px;
    margin: 2px;
    width: 100px;
}
.openBtn:hover{
    height: 40px;
    width: 110px;
}